<h3>Register Here</h3>
{% if messages %}
    {% for message in messages %}
    <p style="color: red"> {{ message }} </p>
    {% endfor %}
{% endif %}
<form action='/register' method='post'>
    {% csrf_token %}
    Name:<input type='text' name='name' placeholder=''><br>
    Username:<input type='text' name='username' placeholder=''><br>
    Password:<input type='text' name='password' placeholder=''><br>
    Confirm PW:<input type='text' name='c_password' placeholder=''><br>
    Date Hired:<br>
    <input type='date' name='hireday' placeholder=''><br>
    <input type='submit' value='Register Here'><br>

</form>

<h3>Login Here</h3>
<form action='/login' method='post'>
    {% csrf_token %}
    <input type='text' name='username' placeholder='Enter username'><br>
    <input type='text' name='password' placeholder='Enter password'><br>
    <input type='submit' value='Log In'><br>
</form>